
@{
    ViewBag.Title = "GameRule";
}

<h2>ゲームの進め方</h2>
<hr />

<p>
    1回ゲームは5ラウンドで構成され、先に３回ミッションを成功(失敗)させた陣営の勝利です。<br />
    ゲーム開始後、各プレイヤーの役割(レジスタンス・スパイ)が決定します。<br />
    その後、最初のリーダーが決まればゲームスタートです。
</p>

<div class="row-margin-20">
    <img src="~/Image/Component/Common/ResistanceLogo.jpg" alt="Resistance Game Logo"  class="img-responsive center-block" />
</div>