
@{
    ViewBag.Title = "PlotCardList";
}

<h2>陰謀カード</h2>
<div class="panel panel-info">
    <div class="panel-heading">5～10人で使用するカード</div>
    <div class="panel-body">
        <img src="~/Image/Component/Jp/Plot_NoConfidence.png" alt="No Confidence" class="img-responsive img-rounded col-md-6 col-xs-12" />
        <img src="~/Image/Component/Jp/Plot_StrongLeader.png" alt="Strong Leader" class="img-responsive img-rounded col-md-6 col-xs-12" />
        <img src="~/Image/Component/Jp/Plot_KeepingCloseEyeOnYou.png" alt="Keeping a Close Eye On You" class="img-responsive img-rounded col-md-6 col-xs-12" />
        <img src="~/Image/Component/Jp/Plot_TakeResponsibility.png" alt="Take Responsibility" class="img-responsive img-rounded col-md-6 col-xs-12" />
        <img src="~/Image/Component/Jp/Plot_OpinionMaker.png" alt="Opinion Maker" class="img-responsive img-rounded col-md-6 col-xs-12" />
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">7～10人で使用するカード</div>
    <div class="panel-body">
        <img src="~/Image/Component/Jp/Plot_EstablishConfidence.png" alt="Establish Confidence" class="img-responsive img-rounded col-md-6 col-xs-12" />
        <img src="~/Image/Component/Jp/Plot_InTheSpotlight.png" alt="In The Spotlight" class="img-responsive img-rounded col-md-6 col-xs-12" />
        <img src="~/Image/Component/Jp/Plot_OpenUp.png" alt="Open Up" class="img-responsive img-rounded col-md-6 col-xs-12" />
        <img src="~/Image/Component/Jp/Plot_OverheardConversation.png" alt="Overheard Conversation" class="img-responsive img-rounded col-md-6 col-xs-12" />
    </div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#drawcard">
    陰謀カード取得
</button>

<!-- Modal -->
<div class="modal fade" id="drawcard" tabindex="-1" role="dialog" aria-labelledby="cardtitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="cardtitle">陰謀カード</h4>
            </div>
            <div class="modal-body text-center">

                <img id="roleimage" src="~/Image/Component/Jp/Plot_KeepingCloseEyeOnYou.png" class="img-responsive img-rounded center-block" />
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">使用しない</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">使用する</button>
            </div>
        </div>
    </div>
</div>

<button id="changerole" class="btn btn-default">役割変更</button>

@section scripts {
    <script>
        $(window).on('load', function () {
            //$('#drawcard').modal('show');
        });

        $("#changerole").click( function () {
            $("#rolename").text('レジスタンス');
            $("#roleimage").attr('src', '/Image/Component/Common/resistance_img.png');
            $('#myModal').modal('show');
        });

    </script>   
}


