
@{
    ViewBag.Title = "Story";
}

<h2>Story</h2>
<p>
    『レジスタンス』では、プレイヤーは地下抵抗組織――レジスタンスの一員となり、圧政を行う政府に対し、抵抗活動を繰り広げます。<br />
    ただし、プレイヤーの中には政府からのスパイがまぎれており、レジスタンス活動に対してサボタージュを働きます。<br />
</p>

<p>
    プレイヤーは順番に抵抗活動のリーダーとなります。リーダーは作戦参加メンバーを選び、それを全員で審議にかけます。このとき、作戦メンバーにスパイがいると思うなら反対してもいいのですが、5回編成に失敗するとスパイ側が勝利してしまいます。<br />
    抵抗活動のメンバーが決まったら、今度は選ばれたメンバーが作戦遂行をするかどうかの投票を行います。こちらの投票は誰が投票したのかがわからないもので、1人でも作戦の失敗に投票をしていたら、その作戦は失敗に終わります。<br />
    レジスタンス側ならスパイ側を排除して作戦を先に3回成功に導くことで、スパイ側であればなんとしても先に3回作戦を失敗させるか1回のメンバー選出で5回選出に失敗させることで勝利します。<br />
    果たして、前回の作戦を失敗させたのは誰なのか？<br />
    今回のメンバーの編成に反対しているアイツはスパイがいることを確信しているから反対しているのか、それとも内紛を期待しているだけなのか？<br />
</p>
